.link{
    text-decoration: none;
}

/* Estilo para el contenedor principal */
.container {
    background-color: #0092ba;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  /* Estilo para el pseudo-elemento ::after */
  .container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%; /* Ocupa la mitad de la altura de la pantalla */
    background-image: url('https://i.postimg.cc/xdTy9LHV/caja-contenedores-industriales-negocios-logisticos-importacion-exportacion.jpg'); 
    background-size: cover;
    background-position: center;
    border-top-left-radius: -20%;
    border-top-right-radius: -20%;
    transform: translateY(50%);
    z-index: 1;
  }

  /* Estilos generales para la barra de desplazamiento en Firefox */
html {
  scrollbar-width:thin;
  scrollbar-color: #afafaf whitesmoke;
  overflow-X: hidden;  
}


/* Estilo del pulgar de la barra de desplazamiento en Firefox */
/* html:hover {
  scrollbar-color: #555 #f1f1f1;
} */

/* Estilos generales para la barra de desplazamiento */
/* ::-webkit-scrollbar {
  height: 3px;
  width: 3px; 
} */

/* Estilo del riel de la barra de desplazamiento */
/* ::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
} */

/* Estilo del pulgar de la barra de desplazamiento */
/* ::-webkit-scrollbar-thumb {
  background-color: #047391;
  border-radius: 6px; 
} */

/* Cambiar el estilo de la barra de desplazamiento en hover */
html::-webkit-scrollbar-thumb:hover {
  background-color: #0092ba;
}


